<div class="view-main page-view">

	<my:header></my:header>

	<article>

		<column class="-left">
			<h2>Welcome to Vicky's little Vikings</h2>
			<img ng:src="{{ _familyImageSrc }}" class="piccy -right">
			<!-- <h3>Coming soon...</h3> -->

			<hr>
		</column>

		<column class="-right">
			<h2>What others have said...</h2>
			<ul class="my-references">
				<li ng:repeat="reference in Main.references | orderBy:Main.referenceSortBy:Main.referenceSortReversed">
					<my:reference-quote
						data-model="reference"
					></my:reference-quote>
					<hr>
				</li>
			</ul>
		</column>
	</article>
	<my:footer></my:footer>
</div>