<div class="view-main page-view">

	<my:header></my:header>

	<article>

		<column class="-left">
			<h2>Welcome to Vicky's little Vikings</h2>
			<h3>Vicky's little Vikings is an Ofsted registered childminders run by <a href="/#/contact/">Vicky Thirkettle</a> in Hornsey, London N8.</h3>
			<img ng:src="{{ _familyImageSrc }}" class="piccy -right">
			<p><small>My lovely family (from left to right), Elliot, Will, Harrison and Me!</small></p>
			<!-- <h3>Coming soon...</h3> -->

			<hr>
		</column>

		<column class="-right">
			<h2>What others have said...</h2>
			<ul class="my-references">
				<li ng:repeat="reference in Main.references">
					<my:reference-quote
						data-model="reference"
					></my:reference-quote>
					<hr>
				</li>
			</ul>
		</column>
	</article>
	<my:footer></my:footer>
</div>