<div class="view-main page-view">

	<my:header></my:header>

	<article>
		
		<my:social-networks></my:social-networks>


		<h2>Welcome to Little Vikings</h2>
		<img ng:src="{{ _familyImageSrc }}" class="piccy -right">
		<h3>A brief introduction goes here</h3>
		<p>Some more infomation perhaps</p>


		<hr>

		<h2>Availability</h2>
		<p>We currently one space available on....</p>

		<hr>

		<h2>What others have said...</h2>
		<ul class="my-references">
			<li ng:repeat="reference in Main.references | orderBy:Main.referenceSortBy:Main.referenceSortReversed">
				<my:reference-quote
					data-model="reference"
				></my:reference-quote>
				<hr>
			</li>
		</ul>
	</article>
	<my:footer></my:footer>
</div>