<div class="view-about page-view">

	<my:header></my:header>

	<article>

		<column class="-left">
			<h2>Vicky</h2>
			<h3>Vicky's Little Vikings is run by me, Vicky.  I have worked in childcare as a nanny for 20 years.</h3>
			<p>I obviously love children and have done since a young age.  I started working part-time as a nanny in 1994 whilst at six-form in Norfolk.  I later became the family's full-time nanny and moveed with them to London.</p>
			<p>Since then, I have nannied for 14 children (and parents!), potty trained a dozen and have remained good friends with all them (<a href="/#/">See references on home page</a>).</p>

			<hr>

			<h2>A home from home</h2>
			<h3>I live with my husband Will, our two children - Harrison ({{ '2010-07-13' | myYearsOld }}) and Elliot ({{ '2012-07-15' | myYearsOld }}) and our lovely cocker spaniel, Hattie ({{ '2014-01-08' | myYearsOld }}!).</h3>
			<img class="piccy -right" src="/images/handhattie.jpg">
		
			<hr>
		</column>

		<column class="-right">

			<h2>Healthy eating</h2>
			<h3>My other main love is food.</h3>
			<p>I take pride in cooking delicious, nutricious, well-balanced meals which I often get the kids involved in too.</p>
			<p>I like to make sure all the children in my care, get a good variety of fruit and vegetables and drink plenty of water</p> 
			<hr>

			<h2>Activities</h2>
			<img class="piccy -right" src="/images/facepainting.jpg">
			<h3>Our little vikings have plenty of things to do, such as arts and crafts, playing football with Hattie and going to music group</h3>
			<p>We have also aquired a substantial collection of dressing up costumes which go down well too.</p>
			<p>We also recognise the importance of downtime and the children have a selection of toys and mini-kitchen to help facilitate that</p>
		
			<hr>

			<h2>Fully registered</h2>
			<p>About ofsted, pacey, eyfs, DBS checked etc...</p>
		
			<hr>
		</column>
	</article>
	<my:footer></my:footer>
</div>