
.my-reference-quote {
	position: relative;
	cursor: pointer;

	&:after {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		width: 100px;
		opacity: 0.03;
		background-image: url('/images/quotes.png');
		background-position: right bottom;
		background-repeat: no-repeat;
	}


	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		bottom: 0;
		width: 100px;
		opacity: 0.05;
		background-image: url('/images/quotes.png');
		background-position: left bottom;
		-webkit-transform: rotate(0.5turn);
		transform: rotate(0.5turn);
		background-repeat: no-repeat;
	}

	&:hover {
		color: $highlightColor;

		&:after, &:before {
			opacity: 0.06;
		}
	}


	// border: solid 1px red;
}