<div class="view-reference-detail page-view">

	<my:header></my:header>

	<article>
		<ul class="pagination_links">
			<li>{{ ReferenceDetail.model.info.index + 1 }} of {{ ReferenceDetail.model.info.totalCount }}</li>
			<li><a ng:click="ReferenceDetail.onPreviousClicked()">Previous</a></li>
			<li><a ng:click="ReferenceDetail.onNextClicked()">Next</a></li>
		</ul>
		<h2>{{ ReferenceDetail.model.year }}</h2>
		<h3 ng:bind-html="ReferenceDetail.getTestimonialHtml()"></h3>
		<h4>{{ ReferenceDetail.model.testimonial.author }}</h4>
		<p>Contact details available on request...</p>
		<img ng:src="{{ ReferenceDetail.model.referenceImageUrl }}">
	</article>
	<my:footer></my:footer>
</div>