
body {
	font-family: $mainFont;
	font-weight: $mainFontWeight;
	color: $mainColor;
	background: $mainBackgroundColor;
	background: $mainBackgroundColor url('/images/owls.png') repeat;
	background-image: url('/images/wallpaper.png');
	background-position: left -31px;
	overflow-y: scroll;
}

strong {
	font-weight: $mainFontWeightStrong;
}

a {
	cursor: pointer;
	color: $linkColor;

	&:hover {
		color: $highlightColor;
	}
}

hr {
	clear: both;
	height: 2px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: white;
	background: rgba(black, 0.1);
	margin: $gutterSize 0;
}

.page-view {
	font-size: 20px;

	header {
		position: relative;
		z-index: 1;
	}

	// main page content
	> article {
		@extend %clearfix;
		padding: $gutterSize;
		background: $pageBackgroundColor;
		line-height: 1.6;
		font-size: 17px;

		img.piccy {
			width: 100%;
			margin-bottom: $gutterSize;
		}

		> column {

		}
		
		.pagination_links {
			float: right;
			
			li {
				list-style: none;
				float: left;
				margin-left: $gutterSize;
			}
		}

		@media only screen and (min-width: $breakPoint) {
			// width: 80%;
			padding: $gutterSizeMid;

			> column {
				width: 50%;
				float: left;

				&.-left {
					padding-right: $gutterSizeMid * 0.5;
				}

				&.-right {
					padding-left: $gutterSizeMid * 0.5;
				}
			}

			// img.piccy {
			// 	width: auto;

			// 	&.-right {
			// 		max-width: 66%;
			// 		float: right;
			// 		margin-left: $gutterSize;
			// 	}

			// 	&.-left {
			// 		max-width: 66%;
			// 		float: left;
			// 		margin-right: $gutterSize;
			// 	}
			// }
		}

		@media only screen and (min-width: $breakPointWide) {
			width: $dimensionsWideContentPercentage;
			max-width: $dimensionsMaxContentWidth;
			margin: 0 auto;
			padding: $gutterSizeWide;

			> column {

				&.-left {
					padding-right: $gutterSizeWide * 0.5;
				}

				&.-right {
					padding-left: $gutterSizeWide * 0.5;
				}
			}
		}

		h2 {
			font-size: 30px;
			font-family: $headingFont;
			font-weight: $headingWeight;
			margin-bottom: $gutterSize;
			color: $vikingsGreen;
		}

		h3 {
			font-size: 18px;
			// font-family: $subHeadingFont;
			// font-weight: $subHeadingWeight;
			font-family: $headingFont;
			font-weight: $headingWeight;
			margin-bottom: $gutterSize;
			// color: $vikingsGreen;
			text-align: justify;
		}

		@media only screen and (min-width: $breakPoint) {

			h2 {
				font-size: 36px;
			}

			h3 {
				font-size: 22px;
			}
		}

		h4 {
			font-weight: $mainFontWeightMid;
			margin-bottom: $gutterSize;
			text-align: justify;
		}

		p {
			margin-bottom: $gutterSize;
			text-align: justify;
		}

		li {
			margin-bottom: $gutterSize;
			list-style: square inside;
		}

		small {
			font-size: 70%;
			font-weight: $smallFontWeight;
		}

		box-shadow: 0 1px 4px rgba(black, 0.1);
	}
}


// skins
@import "./skins/form.scss";

// views
@import "../components/header/_header.scss";
@import "../components/footer/_footer.scss";
@import "../components/navigation/_navigation.scss";
@import "../components/referenceQuote/_referenceQuote.scss";
@import "../views/main/_main.scss";
@import "../views/about/_about.scss";
@import "../views/fees/_fees.scss";
@import "../views/policies/_policies.scss";
@import "../views/contact/_contact.scss";
@import "../views/referenceDetail/_referenceDetail.scss";

