
body {
	font-family: $mainFont;
	font-weight: $mainFontWeight;
	color: $mainColor;
	background: $mainBackgroundColor;
	background: $mainBackgroundColor url('/images/owls.png') repeat;
	background-position: left -31px;
	overflow-y: scroll;
}

strong {
	font-weight: $mainFontWeightStrong;
}

a {
	cursor: pointer;
	color: $linkColor;

	&:hover {
		color: $highlightColor;
	}
}

hr {
	height: 2px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: white;
	background: rgba(black, 0.1);
	margin: $gutterSize 0;
}

.page-view {
	font-size: 20px;

	header {
		position: relative;
		z-index: 1;
	}

	// main page content
	> article {
		@extend %clearfix;
		padding: $gutterSize;
		background: $pageBackgroundColor;
		line-height: 1.4;
		font-size: 17px;

		img.piccy {
			width: 100%;
			margin-bottom: $gutterSize;
		}

		@media only screen and (min-width: $breakPoint) {
			// width: 80%;
			padding: $gutterSizeMid;

			img.piccy {
				width: auto;

				&.-right {
					max-width: 66%;
					float: right;
					margin-left: $gutterSize;
				}

				&.-left {
					max-width: 66%;
					float: left;
					margin-right: $gutterSize;
				}
			}
		}

		@media only screen and (min-width: $breakPointWide) {
			width: 80%;
			max-width: 1280px;
			margin: 0 auto;
			padding: $gutterSizeWide;
		}

		h2 {
			font-size: 30px;
			font-family: $headingFont;
			font-weight: $headingWeight;
			margin-bottom: $gutterSize;
		}

		h3 {
			font-size: 18px;
			font-family: $subHeadingFont;
			font-weight: $subHeadingWeight;
			margin-bottom: $gutterSize;
			text-align: justify;
		}

		h4 {
			font-weight: $mainFontWeightMid;
			margin-bottom: $gutterSize;
			text-align: justify;
		}

		p {
			margin-bottom: $gutterSize;
			text-align: justify;
		}

		small {
			font-size: 70%;
			font-weight: $smallFontWeight;
		}

		box-shadow: 0 1px 4px rgba(black, 0.1);
	}
}


// skins
@import "./skins/form.scss";

// views
@import "../components/header/_header.scss";
@import "../components/footer/_footer.scss";
@import "../components/navigation/_navigation.scss";
@import "../components/referenceQuote/_referenceQuote.scss";
@import "../views/main/_main.scss";
@import "../views/about/_about.scss";
@import "../views/fees/_fees.scss";
@import "../views/policies/_policies.scss";
@import "../views/contact/_contact.scss";
@import "../views/referenceDetail/_referenceDetail.scss";

